# Node
node_modules/
**/dist/

# Env
.env
.env.local
.env.test


# Prisma (only if sqlite is used locally)
prisma/dev.db

# Docker local database data
postgres-data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

#perso
taches.txt
